@keyframes ldio-sa6xntru709 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-sa6xntru709 div {
  position: absolute;
  width: 103px;
  height: 103px;
  border: 6px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-sa6xntru709 div {
  animation: ldio-sa6xntru709 1s linear infinite;
  top: 152px;
  left: 152px
}
.loadingio-spinner-rolling-c0usbnx171 {
  position: relative;
  width: 304px;
  height: 304px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background: #ffffff;
}
.ldio-sa6xntru709 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sa6xntru709 div { box-sizing: content-box; }



